body, h1, h2, h3, h4, h5, input, button, select, textarea {
  font-family: 'Open Sans', sans-serif !important;
}

body .reveal {
  background-color: rgba(255, 255, 255, 0.86);
  border: none;
  outline: none;
}

main div.callout {
  border: none;
  margin: 0;
}

main a[target="_blank"] {
  padding: 10px;
  font-size: 1rem;
}

section {
  margin-bottom: 1rem;
}

section .callout {
  background-color: #ececec;
  border-radius: 0;
}

table {
  font-size: 0.75em;
  width: 100% !important;
}

fieldset.small {
  padding: 0 0.35rem;
  margin: 0.5rem 0;
}

fieldset.small legend {
  font-size: 0.9rem;
}

#tabs-main .tabs-title > a {
  padding: 0.75rem;
  font-size: 1rem;
}

#tabs-integrantes .tabs-title > a {
  padding: 0.75rem;
  font-size: 1.25rem;
}

.tabs-title>a:focus, .tabs-title>a[aria-selected=true] {
  background: #de1178 !important;
  color: #fff !important;
}

.file-upload {
  position: relative;
  overflow: hidden;
}

.file-upload input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: pointer;
}

.file-uploaded {
  display: block;
  padding: 0 !important;
  margin-bottom: 1rem;
}

.cb-1 {
  width: 30px;
  top: 0;
  right: 0;
  border-radius: 0;
  background: #de1178;
  color: white;
}

.cb-1 span {
  color: #fff;
}

.ui-menu {
  position: absolute;
  width: 150px;
}

.ui-menu .ui-menu-item {
  font-size: 0.75rem;
}

.highlight {
  color: #de1178;
}

.title-primary {
  padding-left: 1rem;
  background: #de1178;
  color: #fefefe;
}

#loading {
  text-align: center;
}

#loading .spinner {
  width: 1.5rem;
  height: 1.5rem;
  margin: auto;
  border: 4px double;
  border-color: #de1178 transparent;
  border-radius: 50%;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from{transform: rotate(0deg)}
  to{transform: rotate(360deg)}
}