main {
  div.callout {
    border: none;
    margin: 0;
  }

  a[target="_blank"] {
    padding: 10px;
    font-size: 1rem;
  }
}

section {
  margin-bottom: 1rem;

  .callout {
    background-color: #ececec;
    border-radius: 0;
  }
}

table {
  font-size: 0.75em;
  width: 100% !important;
}

fieldset.small {
  padding: 0 0.35rem;
  margin: 0.5rem 0;

  legend {
    font-size: 0.9rem;
  }
}

#tabs-main .tabs-title > a {
  font-size: 1.2rem;
}

.file-upload {
  position: relative;
  overflow: hidden;

  input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer;
  }
}

.cb-1 {
  width: 30px;
  top: 0;
  right: 0;
  border-radius: 0;
  background: grey;
  color: white;
}

.ui-menu {
  position: absolute;
  width: 150px;

  .ui-menu-item {
    font-size: 0.75rem;
  }
}

.highlight {
  color: #de1178;
}