main div.callout {
    border: none;
    margin: 0;
}

table {
    font-size: 0.75em;
    width: 100% !important;
}

.file-upload {
    position: relative;
    overflow: hidden;
}

.file-upload input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: pointer;
}

.cb-1 {
    width: 30px;
    top: 0;
    right: 0;
    border-radius: 0;
    background: grey;
    color: white;
}

section {
    margin-bottom: 1rem;
}

section .callout {
    background-color: #ececec;
    border-radius: 0;
}
